.FullPost{
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    text-align: center;
}

.Edit{

}

.Edit label{
    display: block;
    color: grey;
}

.Edit button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #fa923f;
}

.Edit button:hover,
.Edit button:active{
    color: #521751;
}

.Edit button.Delte{
    color: red;
}

.Edit button:hover,
.Edit button:active{
    color: darkred;
}